 @font-face {
     font-family: Avalon; 
     src: url('Avalon-Bold-webfont.woff');
} 

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color: #eeeeee;
    font-family: Avalon;
}

h1{
    text-align:center;
    font-family: Avalon;
}