 @font-face {
     font-family: Avalon; 
     src: url('Avalon-Book-webfont.woff');
} 

 @font-face {
     font-family: Avalon; 
     font-weight: bold;
     src: url('Avalon-Bold-webfont.woff');
} 

/*BASIC*/

html, body{
    margin:0;
    padding:0;
    width:100%;
    min-height:calc(100% + 280px);
    background-color: #989898;
    font-family: Avalon;
}

h1{
    text-align:center;
    font-family: Avalon;
    font-size: 60px;
    margin: 0px;
}

a{
    transition: 0.3s ease-in-out;
}

/*HEADER*/

header{
    text-align: center;
    width:100%;
    height:auto;
    padding: 20px 0px 0px 0px;
    position:absolute;
    background-color: #fff;
}

#headericon{
    border: 10px solid #ffffff;
    border-radius: 84px;
}

#subtitle{
    font-style: italic;
}

#description{
    margin-bottom: 10px;
}

ul#topbar {
    list-style-type: none;
    margin: 0;
    width:100%;
    background-color: #ff0033;
    padding: 15px 0px 15px 0px;
}

ul#topbar li {
    display: inline;
    padding: 20px;
    font-weight: bold;
}

ul#topbar li a{
    color: #fff;
    text-decoration:none;
}

ul#topbar li a:hover{
    color: #00ff33;
}

.fixed{
    position:fixed;
    top: 0;
}

/*SECTION*/

section{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    width: 540px;
    margin-top: 350px;
}

#box{
    width: 500px;
    padding: 20px;
    background-color: #fff;
    text-align:center;
}

/*FOOTER*/

footer{
    width:100%;
    background-color: #ff0033;
    color: #fff;
    bottom: 0px;
    position:fixed;
    font-size: 11px;
    text-align:center;
    padding: 1px 0px 1px 0px;
}