<!--$preamble.html$-->
<!--$body-start.html$-->

<!--$gradient-box.html$-->

<div id = "page">

    <!--$header.html$-->

    <div class="discoball left">
        <div class="discobar"></div>
        <img src="images/discoball.gif">
    </div>

    <div class="discoball right">
        <div class="discobar"></div>
        <img src="images/discoball.gif">
    </div>

    <div id = "container">
        <div id = "content">
            <div class = "img-container">
                <img src = "images/me.png">
                <div class = "caption">
                    caption: funni foto of me
                </div>
            </div>

            <!--$strings/about.html$-->

            <div style="clear: both;"></div>
        </div>
    </div>

    <!--$footer.html$-->

</div>

<!--$postamble.html$-->